@import './vars';
@import './fonts';

* {
  outline: none;
}

html {
  height: 100%;
  background-color: @bg-color;
}

body {
  background: url('/img/bg.jpg') fixed @bg-color;
  background-size: cover;
  min-height: 100%;
  display: flex;
  color: @text-color;
  font-size: 16px;
  overflow-y: scroll;
}

#app {
  min-height: 100%;
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: @sidebar-bg-color;
  display: table;
}

a {
  color: @link-color;
  cursor: pointer;
}

p {
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5 {
  color: @heading-color;
}

h5 {
  font-weight: bold;
}

h1,
h2,
h3,
h4,
b,
.btn {
  font-family: 'Circular-Pro-Bold', Helvetica, Arial, sans-serif;
  line-height: 16px;
}

label {
  color: @heading-color;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 8px;
}

#app {
  font-family: 'Circular-Pro-Book', Helvetica, Arial, sans-serif;
  color: @text-color;
  text-align: left !important;
}

@media (max-width: 400px) {
  & .Box {
    border-radius: 0;
    border: none;

    &.operation {
      margin: -24px;

      & .Box-row {
        padding: 16px 24px;
      }
    }
  }
}

// .after-header {
//   margin-top: @header-height;

//   @media @bp-small {
//     margin-top: @header-height;
//   }
// }

.table {
  border-radius: 4px;
  margin-bottom: 24px;
  font-size: 17px;

  th,
  td {
    padding: 12px 24px;
  }

  th {
    font-weight: normal;
  }

  thead {
    color: @border-color;
  }
}

.entry-enter-active {
  transition: opacity 1s ease;
}

.entry-enter {
  opacity: 0;
}

.entry-leave {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: @border-color;
  border: 0;
  background-clip: padding-box;
  border-radius: 0;
}

.vue-ui-modal {
  .backdrop {
    background-color: rgba(0, 0, 0, 0.8);
  }

  .shell {
    transition: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    border-radius: 0;
    max-height: inherit;
    width: 500px;
    max-width: 100% !important;
    border-left: 1px solid @border-color;

    .header {
      border-bottom: 1px solid @border-color;
    }

    .body {
      font-size: 18px;
    }
  }
}

.container-xs {
  width: 100%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.container-sm {
  width: 100%;
  max-width: 544px;
  margin-right: auto;
  margin-left: auto;
}

.form-select {
  font-size: 16px;
}

.error {
  color: @error-color;
}

.button-link {
  line-height: 32px;
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:active {
    text-decoration: none;
  }
}

input {
  background: transparent;
}

.form-label {
  min-width: 160px;
  display: inline-block;
}

.link-color {
  color: @link-color;
}

.bg-primary {
  background-color: @primary-color;
}

.header-container {
  display: flex;
  flex: 1;

  & > div {
    flex: 1;
  }

  & > button {
    color: @border-color;
    font-size: 18px;
    padding: 0 24px;
    background: none;
    outline: none;
    border: none;
  }
}

.logo {
  font-size: 32px;
  color: @primary-color;
}

a.iconfont:hover {
  text-decoration: none;
}

.no-decoration, .no-decoration:hover {
  text-decoration: none;
}

.btn {
  background: transparent;
  color: darken(@input-border-color, 10%);
  border-color: @input-border-color;

  &:hover {
    color: @heading-color;
    background: transparent;
  }
}

.btn-primary,
.btn-primary:focus,
.btn-primary:disabled,
.btn-primary:hover {
  color: @bg-color;
  border-color: @primary-color;
  background: @primary-color;

  &:disabled {
    opacity: 0.4;
  }

  &:hover {
    border-color: darken(@primary-color, 10%);
    background: darken(@primary-color, 10%);
  }
}

.btn-danger,
.btn-danger:focus,
.btn-danger:disabled,
.btn-danger:hover {
  color: #ffffff;
  border-color: @error-color;
  background: @error-color;

  &:hover {
    border-color: darken(@error-color, 10%);
    background: darken(@error-color, 10%);
  }
}

// .btn-success,
// .btn-success:focus,
// .btn-success:disabled,
// .btn-success:hover {
//   color: #ffffff;
//   border-color: @success-color;
//   background: @success-color;

//   &:hover {
//     border-color: darken(@success-color, 10%);
//     background: darken(@success-color, 10%);
//   }
// }

// .btn-blue,
// .btn-blue:focus,
// .btn-blue:disabled,
// .btn-blue:hover {
//   color: #ffffff;
//   border-color: @blue-color;
//   background: @blue-color;

//   &:hover {
//     border-color: darken(@blue-color, 10%);
//     background: darken(@blue-color, 10%);
//   }
// }

// .btn-green{
//   background-color: #169e04;
//   background-image: linear-gradient(315deg,#049e11,#234c17 74%);
//   box-shadow: 0 0 7px #049e0c!important;
// }

// .btn-blue{
//   background-color: #04609e;
//   background-image: linear-gradient(315deg,#04609e,#1c174c 74%);
//   box-shadow: 0 0 7px #04609e!important;
// }



.input-lg {
  border-color: @input-border-color;
  padding: 6px 12px;
  min-height: 42px;
  box-shadow: none !important;

  &:focus {
    border-color: @primary-color;
  }
}

.vue-ui-loading-indicator {
  .animation {
    border-right-color: @primary-color !important;
    border-bottom-color: @primary-color !important;
  }
}

.username {
  text-transform: uppercase;
  transform: translate(-50%,-50%) skew(-24deg) rotate(-10deg);
  position: absolute;
  text-rendering: optimizeLegibility;
  font-weight: 900;
  color: #db2828;
  text-shadow: 1px 4px 6px #000, 0 0 0 #0b0b0b, 1px 4px 6px #101010;
  white-space: nowrap;
  left: 50%;
}

.preview {
  height: 100%;
    @media (max-width: 600px) { 
      max-width: 80px ;
      height: 80px;
  }
  @media (max-width: 820px) and (min-width: 601px) { 
    max-width: 100px ;
    height: 100px;
}
}

.border-top, .border-bottom, .border-left, .border-right {
  border-color: @border-color !important;
}

.balance-topbar{
  margin-left: 200px;
  @media (max-width: 1011px){ 
    margin-left:0px;
  }
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: #000;
  background-image: linear-gradient(315deg,#000,#0e0e0e 74%);
}

.item {
  background-color: #000;
  background-image: linear-gradient(315deg,#000,#0e0e0e 74%);
  border: 1px solid #282828;
  box-shadow: 0 0 8px #000,0 0 8px #000;
}

.item-description {
  font-style: italic;
}

.item h5{
  text-transform: uppercase;
  color:black!important;
  margin:0px;
  background: #fbbd08;
  width: fit-content;
  padding: 0px 5px;
}
